# Ambienti virtuali Python
venv/
env/

# Cache e file compilati di Python
__pycache__/
*.pyc

# File di sistema Mac/Windows
.DS_Store
Thumbs.db

# File con variabili d'ambiente (password/segreti)
.env

# File generati da VS Code
.vscode/

# Dati e Log dei Container Docker
mosquitto/data/
mosquitto/log/
influxdb/data/
influxdb/config/

# Ignora i dati locali del database
influxdb_data/

# Log creati dal simulatore
simulator/simulator.log

prompt_mcp/