global
    maxconn 1000
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog
    option http-server-close 
    option forwardfor
    timeout tunnel 3600s     
    # ---------------------------------------------------------
    timeout connect 10s
    timeout client 300s
    timeout server 600s

# --- BACKEND RECOVERY (Porta 8000) ---
frontend mcp_recovery_front
    bind *:8000
    default_backend mcp_recovery_back

backend mcp_recovery_back
    balance source
    server-template mcp-rec 2 mcp-recovery-service:8000 check init-addr last,libc,none

# --- BACKEND GREEN DURATION (Porta 8001) ---
frontend mcp_green_front
    bind *:8001
    default_backend mcp_green_back

backend mcp_green_back
    balance source
    server-template mcp-green 2 mcp-green-duration-service:8001 check init-addr last,libc,none
