global
    log stdout format raw local0
    maxconn 2048

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend influxdb_front
    # In ascolto sulla porta interna del container
    bind *:8086
    default_backend influxdb_back

backend influxdb_back
    # Opzioni di bilanciamento e controllo salute (health-check)
    balance first
    option forwardfor
    # InfluxDB v2 risponde /ping per confermare di essere online
    option httpchk GET /ping 
    http-check expect status 204

    # semafori-tsdb-alpha è il nodo principale (riceve tutte le letture)
    server db-alpha semafori-tsdb-alpha:8086 check inter 2s fall 3 rise 2

    # semafori-tsdb-beta è il backup (subentra solo se alpha fallisce l'healthcheck)
    server db-beta semafori-tsdb-beta:8086 check backup inter 2s fall 3 rise 2
