global
    maxconn 10000
    log stdout format raw local0

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 5s
    timeout client 300s
    timeout server 300s

frontend mqtt_frontend
    bind *:1883
    default_backend emqx_cluster

backend emqx_cluster
    balance roundrobin
    server emqx-1 srs-emqx-1:1883 check
    server emqx-2 srs-emqx-2:1883 check

