global
    maxconn 1000
    log stdout format raw local0

defaults
    mode http
    log global
    option http-server-close 
    option forwardfor

    timeout tunnel 3600s     
    timeout connect 5s
    timeout client 50s
    timeout server 50s

# --- MCP RECOVERY ---
frontend mcp_recovery_front
    bind *:8000
    default_backend mcp_recovery_back

backend mcp_recovery_back
    balance source
    server-template mcp-rec 2 mcp-recovery-service:8000 check init-addr last,libc,none

# --- MCP GREEN DURATION ---
frontend mcp_green_front
    bind *:8001
    default_backend mcp_green_back

backend mcp_green_back
    balance source
    server-template mcp-green 2 mcp-green-duration-service:8001 check init-addr last,libc,none
